@using pizzashop_Repository.ViewModel
@model List<RoleDto>

<div class="content" id="content">
    <div class="container Role">
        <div class="row align-items-center mt-4">
            <div class="col">
                <h5>Role</h5>
            </div>
            <div class="col text-end">
                <h5>Action</h5>
            </div>
        </div>
        @foreach (var role in Model)
        {
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center mt-4">
                    <h6>@role.roleName</h6>
                    <a asp-action="RolePermission" asp-controller="RolePermission" asp-route-roleId="@role.Id">
                        <i class="bi bi-pen"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
