@model pizzashop_Repository.ViewModel.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>

<body>
    <div class="log-in container-fluid">
        <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1">
            <div class="col p-0">
                <img src="~/images/dominos_background.jpg" alt="" class="dominos_background img-fluid">
            </div>
            <div class="col p-0 d-flex-column align-content-center Pizzashop-container">
                <div class="container d-flex-column w-50">
                    <div class="mt-4 d-flex align-items-center justify-content-center">
                        <img src="~/images/logos/pizzashop_logo.png" class="img-fluid" alt="" height="12%" width="12%">
                        <h2>PIZZASHOP</h2>
                    </div>
                    <div class="mt-4 d-flex-column">
                        <div class="mt-4">
                            <h3>Reset Your Password,</h3>
                        </div>
                        <form asp-action="UpdatePassword" asp-controller="Auth" method="post" id="passwordForm">
                            <input type="hidden" asp-for="Email">
                            <input type="hidden" asp-for="Token">
                            <div class="input-group mb-3">
                                <input type="password" asp-for="Password" class="form-control bg-white password-field"
                                    id="Password" placeholder="New Password" aria-label="password">
                                <span class="input-group-text bg-white m-0 password-toggle-icon">
                                    <i class="fa-sharp fa-regular fa-eye-slash"></i>
                                </span>
                            </div>
                            <div id="password-error" class="error-message mb-3"></div>
                            <div class="input-group mb-3 d-flex">
                                <input type="password" asp-for="ConfirmPassword"
                                    class="form-control bg-white password-field" id="confirmPassword"
                                    placeholder="Confirm New Password" aria-label="password">
                                <span class="input-group-text bg-white m-0 password-toggle-icon">
                                    <i class="fa-sharp fa-regular fa-eye-slash"></i>
                                </span>
                            </div>
                            <div id="confirm-password-error" class="error-message mb-3"></div>
                            <div class="mt-4 text-center">
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-primary btn-lg w-100"
                                        id="Submit">Submit</button>
                                    <a href="./login.html">
                                        Back To Log-in
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/js/jquery-3.6.0.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script>
     const passwordFields = document.querySelectorAll(".password-field");
    const passwordToggleIcons = document.querySelectorAll(".password-toggle-icon i");
    passwordToggleIcons.forEach((toggleIcon, index) => {
        toggleIcon.addEventListener("click", () => {
            const passwordField = passwordFields[index];

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            }
        });
    });

    $(document).ready(function () {
        let passwordField = $("#Password");
        let confirmPasswordField = $("#confirmPassword");
        let errorMessage = $(".error-message");

        function isValidPassword(password) {
            let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
            return passwordRegex.test(password);
        }
        console.log("jquery is loaded");
        $("#passwordForm").submit(function (event) {
            let isValid = true;
            let passwordVal = passwordField.val().trim();
            let confirmPasswordVal = confirmPasswordField.val().trim();

            errorMessage.text("");
            if (passwordVal === "") {
                errorMessage.text("Password is required.").css("color", "red");
                isValid = false;
            } else if (!isValidPassword(passwordVal)) {
                errorMessage.text("Password must be at least 8 characters long with uppercase, lowercase, number, and special character.").css("color", "red");
                isValid = false;
            }

            if (confirmPasswordVal === "") {
                errorMessage.text("Confirm Password is required.").css("color", "red");
                isValid = false;
            } else if (confirmPasswordVal !== passwordVal) {
                errorMessage.text("Passwords do not match.").css("color", "red");
                isValid = false;
            }


            if (!isValid) {
                event.preventDefault();
                return false;
            }
        });

    
        passwordField.keyup(function () {
            if (passwordField.val().trim() !== "") {
                errorMessage.text("");
            }
        });

        confirmPasswordField.keyup(function () {
            if (confirmPasswordField.val().trim() !== "") {
                errorMessage.text("");
            }
        });

        @if (TempData["Success"] != null)
        {
            <text>toastr.success('@TempData["Success"]');</text>
        }
        @if (TempData["Error"] != null)
        {
            <text>toastr.error('@TempData["Error"]');</text>
        }
        @if (TempData["Warning"] != null)
        {
            <text>toastr.warning('@TempData["Warning"]');</text>
        }
        @if (TempData["Info"] != null)
        {
            <text>toastr.info('@TempData["Info"]');</text>
        }
    });
</script>
