
.dominos_background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow-y: hidden;
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}
.Pizzashop-container{
    background-color: #d8e8f8;
}


/* .sidebar {
    position: fixed;
    left: 0;
    width: 275px;
    height: 100%;
    background-color: white;
    padding-top: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
    padding: 1%;
} */

.sidebar > ul > li {
    margin-left: 20px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 60px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 60px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    overflow: hidden;
}


.homepage {
    width: 60%;
}

@media (max-width: 799px) {
    .dominos_background{
        display: none;
    }
    .Pizzashop-container{
        height: 100vh;
    }
    
    .content {
        margin-left: 0;
        width: 100%;
        object-fit: cover;
    }

    .dropdown-menu {
        position: absolute;
        top: 43px;
        border: none !important;
        box-shadow: none !important;
    }

    .homepage {
        width: 80%;
    }
}

@media (max-width: 425px) {
    

    .pizzashop_container {
        width: 100%;
        height: 100vh !important;
    }

    .homepage {
        width: 100%;
    }
}

/* for select and button and input button */

input[type="text"],
input[type="email"],
input[type="password"],
select {
    height: 57px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    box-shadow: none;
    border-color: #0066A7 !important;
}

button {
    height: 45px;
    width: fit-content;
}

button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

select {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    height: 45px !important;
    appearance: none;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #0066A7 !important;
}

button {
    width: fit-content;
}

.create-user {
    color: white !important;
    background-color: #0066A7 !important;
    border: 1px solid #0066A7 !important;
}

.create-user:hover {
    color: #007bff !important;
    background-color: white !important;
}

.cancel {
    color: #007bff !important;
    background-color: white !important;
    border: 1px solid #0066A7 !important;
}

.cancel:hover {
    background-color: #0066A7 !important;
    color: white !important;
}

.Active {
    height: 30px;
    width: 75px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}

#FileInput {
    display: none;
}

#cloudButton {
    border: 1px solid #ccc;
    height: 58px;
}

.custom-tabs {
    border-bottom: 1px solid #ddd;
}

.custom-tabs .nav-link {
    color: #555;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
}

.custom-tabs .nav-link.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: 3px solid #007bff !important;
    background: none;
}

.custom-tabs .nav-link i {
    font-size: 16px;
}

.table img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

th, td {
    text-align: center;
}

.toggle-switch {
    cursor: pointer;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: 3px solid #007bff !important;
    background: none;
}

.category-list {
    height: 300px;
    overflow-y: scroll;
}

.category-list li {
    padding: 5px 10px;
    cursor: pointer;
    list-style: none !important;
}

.category-list li:hover {
    background: #f8f9fa;
}

.Menu-item-table {
    width: 100%;
}

.changePassword {
    width: 500px;
}

.add-user {
    height: 100%;
    width: 150px;
}


#toast-container > .toast-success {
    background-color: #28a745 !important; 
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.toast {
    opacity: 0;
    animation: fadeInToast 0.5s ease-in-out forwards;
}

@keyframes fadeInToast {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#UserListTable
   {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   .table {
    background: white;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0;
}

.table th,
.table td {
    padding: 12px;
    vertical-align: middle;
    white-space: nowrap;
}

.table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Role{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#main-content
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}